* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/foggy_bridge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation-head {
    background-color: #0d1321;
    height: auto;
    padding: 20px;
}

#login-box {
    color: #748cab;
    float: right;
    font-size: 20px;
    padding-right: 25px;
    text-decoration: underline solid #f0ebd8;
}

#logo h1 {
    text-decoration: underline double white;
}

#logo {
    color: #f0ebd8;
    float: left;
}

.clearfix {
    clear: both;
}

#login-box a {
    color: #748cab;
    text-decoration: underline solid #f0ebd8;
}


.form-simple .font-small {
    font-size: 0.8rem; }
  
  .form-simple .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
  
  .form-simple input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; }
  
  .form-simple input[type=text]:focus:not([readonly]) + label {
    color: #4f4f4f; }
  
  .form-simple input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; }
  
  .form-simple input[type=password]:focus:not([readonly]) + label {
    color: #4f4f4f; }